body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainDiv {
  background-color: rgb(32, 32, 63);
  font-family:'Roboto';
  color: azure;
  margin: 10px;
  width: 800px;
}

.navDiv {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.textDiv {
  text-align: left;
  padding-left: 40px;
  padding-bottom: 60px;

}

.bottom {
  display: flex;
}

.bottom img {
  width: 50%;
}

